<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [25]:
import pandas as pd

In [26]:
clubs = pd.read_excel(r'C:\Users\Balak\OneDrive\Рабочий стол\Pet project\ASH\dancers\Clubs.xlsx')

In [27]:
club_city = clubs['club_name'].str.split('(',expand=True)

In [28]:
club_city.columns = ['club_name', 'club_city']

In [42]:
cols = ['club_city']
for col in cols:
    club_city[col] = club_city[col].map(lambda x: str(x).lstrip('г.').rstrip(')'))

In [46]:
club_city['club_city'].unique()

array(['None', 'Красноярск', 'СПб', 'Новосибирск', 'Саратов',
       'Железногорск', 'Омск', 'Иваново', 'Кемерово', 'Новокузнецк',
       'Курск', 'Клин', 'Барнаул', 'Минск', 'В.Новгород', 'Фрязино',
       'Томск', 'Ростов-на-Дону', 'Тверь', 'Выборг', 'Энгельс',
       'Павлодар', 'Дубна', 'Санкт-Петербург', 'Таганрог', 'Новороссийск',
       'Абакан', 'Екатеринбург', 'Владивосток', 'Хабаровск', 'Ставрополь',
       'Уфа', 'Тюмень', 'Краснодар', 'Родники', 'Киров', 'Симферополь',
       'Минусинск', 'Краков', 'Пенза', 'Зеленогорск', 'Владимир', 'Шуя',
       'Геленджик', 'Уссурийск', 'Братск', 'Харьков', 'Кострома',
       'Lausanne', 'Караганда', 'Сахалин', 'Сочи', 'Казань', 'Пущино',
       'Воронеж', 'Калининград', 'Тольятти', 'Киев', 'Находка', 'Мытищи',
       'Чебоксары', 'Ульяновск', 'Дортмунд', 'Челябинск', 'Poznan',
       'Моск.обл.', 'Белгород'], dtype=object)

In [52]:
club_city['club_city'] = club_city['club_city'].str.replace(
                                                       'СПб', 'Санкт-Петербург'
                                                      
)

In [54]:
club_city['club_city'] = club_city['club_city'].str.replace(
                                                       'В.Новгород', 'Великий Новгород'
                                                      
)

C:\Users\Balak\AppData\Local\Temp/ipykernel_38716/2405901902.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  club_city['club_city'] = club_city['club_city'].str.replace(

In [53]:
club_city['club_city'] = club_city['club_city'].str.replace(
                                                       'Моск.обл.', 'Московская область'
                                                      
)

C:\Users\Balak\AppData\Local\Temp/ipykernel_38716/3733894059.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  club_city['club_city'] = club_city['club_city'].str.replace(

In [55]:
club_city['club_city'].unique()

array(['None', 'Красноярск', 'Санкт-Петербург', 'Новосибирск', 'Саратов',
       'Железногорск', 'Омск', 'Иваново', 'Кемерово', 'Новокузнецк',
       'Курск', 'Клин', 'Барнаул', 'Минск', 'Великий Новгород', 'Фрязино',
       'Томск', 'Ростов-на-Дону', 'Тверь', 'Выборг', 'Энгельс',
       'Павлодар', 'Дубна', 'Таганрог', 'Новороссийск', 'Абакан',
       'Екатеринбург', 'Владивосток', 'Хабаровск', 'Ставрополь', 'Уфа',
       'Тюмень', 'Краснодар', 'Родники', 'Киров', 'Симферополь',
       'Минусинск', 'Краков', 'Пенза', 'Зеленогорск', 'Владимир', 'Шуя',
       'Геленджик', 'Уссурийск', 'Братск', 'Харьков', 'Кострома',
       'Lausanne', 'Караганда', 'Сахалин', 'Сочи', 'Казань', 'Пущино',
       'Воронеж', 'Калининград', 'Тольятти', 'Киев', 'Находка', 'Мытищи',
       'Чебоксары', 'Ульяновск', 'Дортмунд', 'Челябинск', 'Poznan',
       'Московская область', 'Белгород'], dtype=object)

In [59]:
club_city[club_city['club_city'] == 'None']['club_name'].unique()

array(['2H-club', 'AT-Dance', 'Dance College Club', 'Nice Dance',
       'DanceStyle', 'F Club', 'Hostel Hustle', 'Ivara', 'N-Club',
       'Nova Dance Studio', 'Open Dance Studio', 'Profi-Dance', 'RedHop',
       'Reverie Dance', 'S-клуб', 'Tanto', 'Vesta', 'Sergio dance',
       'Алекс Хастл-Клуб', 'Альтернатива', 'Априори', 'БиС', 'Богема',
       'В-12', 'Визави', 'Виктория', 'Данцарто', 'Движение', 'Дизайн',
       'Индиго', 'Красный уголок', 'Остров', 'Профи-Данс', 'Пульс',
       'Ритм', 'Самарский хастл-клуб', 'Спартак', 'Стиль',
       'студия Александра Красильникова', 'Студия Виктории Деминой',
       'Студия С.Спиридонова', 'СХК', 'ТВИКS', 'Динамика', 'Хастл-Центр',
       'Центральный', 'Экспромт', 'Орион', 'Smile', 'LaDanza', 'AltroOne',
       'Германия', 'DanceFirst', 'Magma', 'Мегаполис', 'Dance Drive',
       'Эксельсиор', 'YouDance', 'Walzer', 'Poland', 'Aizek`s',
       'DanceLab', 'Daily dance', 'AlphaDance', 'самост.',
       'Мастерская Свободного Танца', 'Мартэ', 'GallaDance', 'RedRose',
       'D.A.N.C.E.', 'ИнтерХастл', 'MMDance', 'Maximum', 'Unity',
       'Триумф плюс'], dtype=object)

In [68]:
club_city.loc[club_city['club_name'] == 'Германия', 'club_city'] = 'Deutschland'

In [69]:
club_city[club_city['club_name'] == 'Германия']

    club_name    club_city
119  Германия  Deutschland

In [70]:
club_city.loc[club_city['club_name'] == 'Триумф плюс', 'club_city'] = 'Санкт-Петербург'

In [71]:
club_city

              club_name           club_city
0               2H-club                None
1              AT-Dance                None
2          Baila&Dance           Красноярск
3             Caminito      Санкт-Петербург
4    Dance College Club                None
..                  ...                 ...
263          Let's Go!   Московская область
264          5 элемент               Казань
265            самост.             Белгород
266             FamiDa          Новокузнецк
267         STartDANCE              Барнаул

[268 rows x 2 columns]

In [73]:
club_city[club_city['club_city'] == 'Московская область']

      club_name           club_city
263  Let's Go!   Московская область

In [74]:
club_city['club_city'] = club_city['club_city'].str.replace(
                                                       'Московская область', 'Красногорск'
                                                      
)

In [75]:
club_city

              club_name        club_city
0               2H-club             None
1              AT-Dance             None
2          Baila&Dance        Красноярск
3             Caminito   Санкт-Петербург
4    Dance College Club             None
..                  ...              ...
263          Let's Go!       Красногорск
264          5 элемент            Казань
265            самост.          Белгород
266             FamiDa       Новокузнецк
267         STartDANCE           Барнаул

[268 rows x 2 columns]

In [76]:
club_city['club_city'] = club_city['club_city'].str.replace(
                                                       'None', 'Москва'
                                                      
)

In [77]:
club_city

              club_name        club_city
0               2H-club           Москва
1              AT-Dance           Москва
2          Baila&Dance        Красноярск
3             Caminito   Санкт-Петербург
4    Dance College Club           Москва
..                  ...              ...
263          Let's Go!       Красногорск
264          5 элемент            Казань
265            самост.          Белгород
266             FamiDa       Новокузнецк
267         STartDANCE           Барнаул

[268 rows x 2 columns]

In [78]:
club_city[club_city['club_name'] == 'самост.']

    club_name club_city
174   самост.    Москва